<p id="notice"><%= notice %></p>

<%= link_to 'Download',download_tender_doc1_path(@doc1.tender, @doc1)  %> |
<%= link_to 'Edit', edit_tender_doc1_path(@doc1.tender, @doc1) %> |
<%= link_to 'Back', tender_doc1s_path(@doc1.tender) %>
