<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
		.main{
		display: inline-block;
	    background-color:white;
	    text-align: center;
	    width: 100px;
	    height: 100px;
	    line-height: 2.4em;
	    margin-top:200px;
	    margin-left: 500px;
	    border-radius: 50px;
		}
	</style>
  <title>E-Tender NITK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
	<body>
		<div class="main">
		<label for="Email">Email:</label>
		<input type="text" id="Email" placeholder="Enter your email">
		<br>
		<label for="password">Password:</label>
		<input type="password" id="password" placeholder="Enter your password">
		<br>
		<a href="#" role="button" class="btn btn-success .btn-lg">Submit</a>
		</div>
	</body>
</html>