<p id="notice"><%= notice %></p>

<%= link_to 'Download',download_tender_doc2_path(@doc2.tender, @doc2)  %> |
<%= link_to 'Edit', edit_tender_doc2_path(@doc2.tender, @doc2) %> |
<%= link_to 'Back', tender_doc2s_path(@doc2.tender) %>
